{% extends 'accounts/main.html' %}

{% block content %}



<h1>Browse Page</h1>
<h1>奇玓衛浴 Kidea</h1>


<button
  type="button"
  class="btn btn-outline-primary btn-rounded"
  data-mdb-ripple-color="dark">
  全部
</button>
<button
  type="button"
  class="btn btn-outline-secondary btn-rounded"
  data-mdb-ripple-color="dark">
  衛浴
</button>
<button
  type="button"
  class="btn btn-outline-success btn-rounded"
  data-mdb-ripple-color="dark">
  廚房
</button>
<button
  type="button"
  class="btn btn-outline-danger btn-rounded"
  data-mdb-ripple-color="dark">
  系統櫃
</button>
<button
  type="button"
  class="btn btn-outline-warning btn-rounded"
  data-mdb-ripple-color="dark">
  其他
</button>






<!-- <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">商品名稱</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$價格 <small class="text-muted">/ 才</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>商品細節</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">加入購物車</button>
          </div>
       </div>
</div> -->


<!-- <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">商品1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$價格 <small class="text-muted">/ 才</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>商品細節</li>
              
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">加入購物車</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">商品2</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$價格 <small class="text-muted">/ 才</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>商品細節</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">加入購物車</button>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">商品3</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$價格 <small class="text-muted">/ 才</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>商品細節</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">加入購物車</button>
          </div>
        </div>
      </div> -->









{% endblock %}




