{% extends 'accounts/main.html' %}

{% block content %}


<style type="text/css">

h1{
	text-align: center;
}

#goshopping{
	width: 100px;
	margin: auto;
	text-align: center;
}	

#title{
	text-align: center;
}

#des{
	text-align: center;
}

#con{
	text-align: center;
}

</style>


<h1 id="title">奇玓衛浴 Kidea</h1>
<h2 id="des">奇玓以最專業、最用心的態度為您打造溫暖的家</h2>
<p id="con">您可以選購標準化的產品，也可以針對系統櫃進行客製化，在本網站上，您可以瀏覽商品，查看產品資訊與價格，網站也可以針對客製化之系統櫃進行報價。</p>

<div class="navbar-nav" id="goshopping">
  <a class="list-group-item list-group-item-action list-group-item-primary" href="{% url 'browse' %}">去逛逛 <span class="sr-only">(current)</span></a>
</div>

<h1></h1>


{% endblock %}




