{% extends 'accounts/main.html' %}

{% block content %}

<style type="text/css">
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1{
  padding: 20px 0 20px;
  text-align: center;
  font-size: 36px;
}

h3{
  padding: 20px 0 20px;
  text-align: center;
  font-size: 20px;
}

.quotationbox{
  width: 500px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  margin: auto;
}

.quotationbox p{
  margin: 0 100px;
  padding: 0;
  font-weight: bold;
}

.quotationbox input{
  margin: 0 100px;
  width: 60%;
  margin-bottom: 20px;
}

.quotationbox input[type="text"], input[type="password"]{
  outline: none;
  height: 39px;
}

.quotationbox input[type="submit"]{
  border: none;
  outline: none;
  height: 39px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
}

.quotationbox input[type="submit"]:hover{
  cursor:pointer;
  background: #ffc107;
  color:#000;
}

.quotationbox select{
  margin-left: 100px;
  border: none;
  outline: none;
  height: 39px;
  font-size: 18px;
}

</style>




<h1>System Cabinet Quotation Page</h1>



<div class="quotationbox">
  <h1>商品報價</h1>

  <h3 id="result">報價結果：</h3>
  <form>
    <p>寬</p>
    <input type="text" id="width" placeholder="請輸入寬 (單位公分)">

    <p>深</p>
    <input type="text" id="depth" placeholder="請輸入深 (單位公分)">

    <p>高</p>
    <input type="text" id="height" placeholder="請輸入高 (單位公分)">

    <p>吊衣桿數量</p>
    <input type="text" id="" placeholder="請輸入吊衣桿數量">

    <p>抽屜數量</p>
    <input type="text" id="" placeholder="請輸入抽屜數量">

    <p>拉籃數量</p>
    <input type="text" name="" placeholder="請輸入拉籃數量">
    

    <!-- <p>顏色</p>
    <select id="color" name="colors">
      <option>紅色</option>
      <option>藍色</option>
      <option>黃色</option>
      <option>紫色</option>
      <option>綠色</option>
    </select> -->

    <p>板材</p>
    <select id="color" name="colors">
      <option>H1145 ST10</option>
      <option>H1146 ST10</option>
      <option>H1277 ST12</option>
      <option>H1300 ST19</option>
      <option>H1401 ST22</option>
    </select>

    <br>
    <br>
    <input type="submit" name="" value="報價" onclick="calculateMoney()"><br>
    <!-- <input type="submit" name="" value="回上一頁" href="{% url 'browse' %}"><br> -->

    
  </form>
</div>


<h1></h1>




{% endblock %}