{% extends 'accounts/main.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}
Your shopping cart
{% endblock %}

{% block content %}
<style type="text/css">
    .but {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        margin-left: 10px;
    }

    .but-row {
        padding-left: 43%;
        margin-bottom: 20px;
    }

    .table-row {
        padding-left: 15%;
    }

    .title-row {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
</style>
{% if request.user.is_authenticated %}
<div class="panel panel-default title-row">
    <h1>{{ request.user.username }} 的購物車</h1>
    <div class="panel-heading">
        {# call __len__ #}
        {% with total_items=cart|length %}
        {% if total_items > 0 %}
        您的購物車中有 {{total_items}} 項商品
        {% else %}
        您的購物車是空的
        {% endif %}
        {% endwith %}
    </div>
</div>
<form action="{% url 'updateAmount' %}" method="POST">
    <input type="number" id="userID" name="userID" value="{{request.user.id}}" style="display: none;">
    <div class="row table-row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    {% if cart|length > 0 %}
                    <tr>
                        <th>商品名稱</th>
                        <th>數量</th>
                        <th class="text-center">單價</th>
                        <th class="text-center">總價</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        <td class="col-sm-6 col-md-4">
                            <a href="{{item.product.get_absolute_url}}">{{ item.product.name }}</a>
                        </td>
                        <td class="col-sm-3 col-md-3" style="text-align: center">
                            <input type="number" id="productAmount" name="{{item.id}}" value="{{item.amount}}">
                        </td>
                        {%if item.is_customized %}
                        <td class="col-sm-1 col-md-1 text-center">${{ item.price }}</td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong>${% widthratio item.amount 1 item.price %}</strong>
                        </td>
                        {%else%}
                        <td class="col-sm-1 col-md-1 text-center">${{ item.product.price }}</td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <strong>${% widthratio item.amount 1 item.product.price %}</strong>
                        </td>
                        {%endif%}
                        <td class="col-sm-1 col-md-1">
                            <form action="{% url 'deleteCart' %}" method="POST">
                                {% csrf_token %}
                                <input type="number" id="cartID" name="cartID" value="{{item.id}}"
                                    style="display: none;">
                                <button class="btn btn-danger" type="submit">刪除</button>
                            </form>
                        </td>
                    </tr>
                    {%if item.is_customized%}
                    <tr>
                        <td>客製化資訊</td>
                        <td colspan="4">{{item.customization}}</td>
                    </tr>
                    {%endif%}
                    {% endfor %}
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <h3>Total</h3>
                        </td>
                        <td class="text-right">
                            <h3><strong>${{ total_price }}</strong></h3>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row but-row">
        <button class="btn btn-primary goshopping" type="submit">儲存數量</button>
        <div class="navbar-nav" class="goshopping">
            <a class="but" href="{% url 'browse' %}">繼續選購<span class="sr-only">(current)</span></a>
        </div>
    </div>
</form>
{% else %}
<h1>請先登入！</h1>
{% endif %}

{% endblock %}